.produto-carrinho {
    display: flex;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #fff;
    text-align: left;
  }
  
  .produto-imagem-carrinho {
    width: 30%; /* Tamanho fixo da imagem */
    height: auto;
    margin-right: 16px; /* Espaçamento entre imagem e dados */
  }
  .produto-imagem-carrinho img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
  }
  