.categorias {
    margin: 5px 0;
    padding: 0 0px;
    text-align: center; 
  }
  
  .categorias h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: white;
  }
  
  /* Container horizontal com scroll */
.lista-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 12px;
  padding: 8px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
  
  .categoria-item {
    flex-shrink: 0; 
    display: flex;         
    flex: 1; 
    flex-direction: column;
    align-items: center;
    background: #f3f4f6;
    border-radius: 4px;
    transition: background 0.5s;
    height: auto;
    overflow: hidden;
    padding: 5px;
    
  }
  
  .categoria-item:hover {
    background: #e5e7eb;
  }
  
  .categoria-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2px;
  }
  
  .categoria-item span {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
    color: #00327e;
    font-weight: bold;
    margin: 0px 4px;

  }
  
  .spinner {
    animation: spin 1s linear infinite;
    font-size: 24px; /* Tamanho opcional */
    color: white;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }