body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* deixa espaço pro header */
  background-color: #f4f6f8;
}

.login-box {
  background: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 400px; /* define altura fixa */
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */
}

.login-box h2 {
  margin-bottom: 20px;
  color: #00327e;
}

.login-box input {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background-color: #00327e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-box button:hover {
  background-color: #ffffff;
  color: #00327e;
  border: 1px solid #00327e;
}
