.page-rastrear{
  display: flex;
  justify-content: start;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
  height: 100vh;             /* Altura da viewport */
  flex-direction: column;    /* Se tiver mais de um item */
  padding-top: 50px;
}

.timeline-container {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente se necessário */
  gap: 16px;               /* espaçamento entre os steps */
  margin-top: 16px;        /* opcional: espaçamento superior */
}

.acomanhar-pedido {  
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 15px;
}
.acomanhar-pedido h5 {
  text-align: center;
}

.timeline-step {
  display: flex;
  align-items: center;
  position: relative;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1;
  font-size: 9px;
  margin-bottom: 10px;
}

.circle.completed {
  background-color: #4caf50;
  color: white;
}

.label {
  text-align: center;
  font-size: 12px;
}

.label.completed {
  font-weight: bold;
  color: #4caf50;
}

.line {
  width: 60px;
  height: 4px;
  background-color: lightgray;
  margin: 0 0px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.line.completed {
  background-color: #4caf50;
}