.listapedidos{
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #fff;
    text-align: left;
    width: 100%;
    padding: 10px;
}

.pedidos{
    margin-top: 10px;
}

.pedidos h3{
    color: white;
    background-color: #00327e;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}
.status{
    color: #00327e;
}
button {
    color: #00327e;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.listaitemspan{
      font-size: 10px;
  }
.itenspedido{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}
.botaodetalhe{
    background-color: #00327e;
    color: white;
    height: 30px;
}.botaodetalheitem{
    background-color: green;
    color: white;
    height: 30px;
}