  .produto-item-lista { 
    display: flex;
    flex-wrap: wrap;    
    overflow-x: auto;           /* ativa rolagem horizontal */
    gap: 5px;  
    scroll-behavior: smooth;
    border-radius: 8px;
    justify-content: center;
  }
   .produto-imagem {
  display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: center; /* centraliza horizontalmente (opcional) */
  } 
  .produto-imagem img {
    width: 80px;
    height: 80px;
    border-radius: 6px; 
    margin-left: 2px;
  } 
  
  .produto-dados h4 {
    font-size: 0.7rem;
    font-weight: bold;
    margin: 6px 0 4px 0;
    max-height: 50px;
    overflow: hidden;  
  }
  
  .preco {
    font-weight: bold;
    font-size: 0.7rem;
    color: black;
  }
  
  .estoque {
    font-size: 0.7rem;
    color: #555;
  } 
  .descricao {
    font-size: 0.9rem;
    color: #555;
  }

  .produto-item-link 
  {
    display: flex;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #fff;
    text-align: left;      
    text-decoration: none;  
    color: inherit;  
    height: 110px;   
    width: 49%;
  }

  .produto-dados {
    margin-right: 12px; display: flex;
    flex-direction: column; /* garante que os itens fiquem um abaixo do outro */
    justify-content: center; /* centraliza verticalmente */
    height: 100%; /* ocupa toda a altura do card */
  }
