.produto-item-lista {
    display: flex;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #fff;
    text-align: left;
  }
  
  .produto-imagem {
    width: 30%; /* Tamanho fixo da imagem */
    height: auto;
    margin-right: 16px; /* Espaçamento entre imagem e dados */
  }
  
  .produto-imagem img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
  }
  
  .produto-dados {
    flex: 1; /* Faz com que o bloco de dados ocupe o restante do espaço */
  }
  
  .produto-dados h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .preco {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.2rem;
  }
  
  .estoque {
    font-size: 1.1rem;
    color: #555;
  } 
  .descricao {
    font-size: 0.9rem;
    color: #555;
  }

  .produto-item-link 
  {
    display: flex;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #fff;
    text-align: left;      
    text-decoration: none;  
    color: inherit;     
  }

