.produto-detalhe {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .produto-imagem-detalhe img {
    width: 100px;
    height: auto;
    object-fit: contain;
  }
  
  .produto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  .quantidade-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantidade-container button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .quantidade-container span {
    margin: 0 10px;
    font-size: 20px;
  }
  
  .adicionar-carrinho {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .total {
    margin-top: 15px;
    font-size: 18px;
  }

  .produto-controles {
    margin-top: 20px;
  }
  
  .controle-quantidade {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .controle-quantidade button {
    padding: 8px 12px;
    font-size: 12px;
    background-color: #00327e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .controle-quantidade button:hover {
    background-color: #00327e;
  }
  
  .controle-quantidade span {
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    text-align: center;
  }
  
  .totalizador {
    margin-top: 10px;
    font-size: 18px;
  }
  .produto-detalhe {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os blocos */
  }
  
  .produto-imagem-detalhe img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .produto-info-detalhe {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .produto-controles {
    margin-top: 15px;
  }
  
  .produtos-relacionados {
    margin-top: 30px;
  }
  
  .produtos-lista-detalhe {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .produto-item-detalhe {
    width: 150px;
    text-align: center;
  }
  
  .produto-item-detalhe img {
    width: 100%;
    height: auto;
  }
  
  .produto-item-detalhe p {
    font-size: 14px;
  }
  
  .produto-item-detalhe span {
    color: #004aad;
    font-weight: bold;
  }
  
  .compra-buttons button {
    margin-top: 10px;
  }
  .compartilhar {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.compartilhar button {
  color: #00327e;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.compartilhar button:hover {
  background-color: #00327e;
  color: white;
}