  .promocoes {
    padding: 0 12px;
  }
  
  .promocoes h2 {
    font-size: 1.5rem;
    color: white;
  }
  
  .lista-promocoes {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .promo-item {
    min-width: 80px;
    max-width: 200px;
    flex-shrink: 0;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    scroll-snap-align: start;
    justify-content: center;
  }
  
  .promo-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    max-width: 140px;
    height: 120px;                /* força mesma altura */
    object-fit: contain;          /* mantém imagem dentro sem cortar */
    border-radius: 6px;
  }
  
  .nome {
    display: block;
    font-size: 10px;
    font-weight: 500;
    color: #000;
  }
  
  .preco-original {
    text-decoration: line-through;
    color: #da1d1dd3;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .preco-promocional {
    color: #1945d4;
    font-weight: bold;
    font-size: 1rem;
  }  

  .promocao-item-link 
  {
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #fff;
    text-decoration: none;  
    color: inherit;  
  }

  